body {
    background-color: black;
    color: white;
}

.container {
    margin: auto;
    padding: 1px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1px;
    border-bottom: 1px solid #666666;
}

.flex {
    display: flex;
}

a {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 3px;
    text-decoration: none;
}

a.text-white {
    color: white;
    background-color: transparent;
    margin: 0rem 1rem 0.5rem 1rem;
    transition: all 0.3s ease-in-out 0s;
    padding: 0.5rem;
}

#Signup {
    color: black;
    background-color: white;
    margin: 0rem 1rem 0.5rem 1rem;
}

#Signup:hover{
    color: white;
    background-color: #3b82f6;
}
a.text-white:hover{
    color: black;
    background-color: white;
}
.items-center {
    align-items: center;
}

.space-x-2 > * + * {
    margin-left: 0.5rem;
}

.h-8 {
    height: 2rem;
}

.w-auto {
    width: auto;
}

.text-2xl {
    font-size: 1.5rem;
}

.font-bold {
    font-weight: bold;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    /* flex-wrap: wrap; */
    flex:1;
}

.ml-4 {
    margin-top: 8rem;
    margin-left: 6%;
    margin-right: 1rem;
}

.px-2 {
    padding: 1rem;
    margin: 1rem 2rem 0 0rem;
}

.py-1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.border {
    border-width: 1px;
}

.rounded-md {
    border-radius: 0.375rem;
}

.bg-white {
    background-color: white;
}

.text-black {
    color: black;
}

.bg-blue-500 {
    background-color: #3b82f6;
}

.text-white {
    color: white;
}

.rounded-md {
    border-radius: 0.375rem;
}

#Price{
    height: 25px;
    width: 100px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
}

#Price:hover{
    background-color: rgb(122, 203, 0);
    color: white;
    box-shadow: 0px 0px 10px #fff;
    cursor: pointer;
}

